<!-- note_list.html -->
{% extends "base.html" %}

{% block title %}TEST BLOCK{% endblock %}

{% block content %}
    <h1>Hello, Alex</h1>
    {% for note in notes %}
        {% include "note.html" %}
    {% endfor %}
    {% include "add_note.html" %}

      <div class="container notes">
    <div class="row">
      {% for note in notes %}
        <div class="col-4 note-item">
          <div class="note">
            {% if note.image %}
            <img src="{{ note.image.url }}" class="note-img-top" alt="{{ note.title }}">
            {% endif %}
            <div class="note-body">
              <h5 class="note-title">{{ note.title }}</h5>
              <p class="note-text">{{ note.text }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}